<div class="row">
  <form action="/search" method="post" class="form-search form-horizontal pull-right">
    <div class="input-group">
      <input type="text" class="form-control" id="search" name="search" placeholder="John 1" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default">&nbsp;<span class=" glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </form>
</div>