<html>
  <head>
    <title>ukweli - The Bible</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
     <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Ukweli</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/web/JHN%2010:10">John 10:10</a></li>
          </ul>
        </div> <!-- /.collapse .navbar-collapse -->
      </div> <!-- /.container -->
    </div> <!-- /.navbar .navbar-inverse .navbar-fixed-top -->
    <div  class="container">

        <%= yield %>
    </div>
  </body>
</html>
